/* slider.css */
input[type="range"] {
    -webkit-appearance: none; /* Remove default styling */
    width: 100%;
    height: 2px;
    background: black; /* Hide default track */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    width: 20px; /* Thumb width */
    height: 20px; /* Thumb height */
    background: #3b82f6; /* Thumb color */
    cursor: pointer;
    border-radius: 50%; /* Circular thumb */
    border: 2px solid #1d4ed8; /* Thumb border */
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #3b82f6;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #1d4ed8;
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #3b82f6;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #1d4ed8;
}
